body {
	font-family:verdana;
	font-size:11px;
	}
a {
	color:#0000ff;
	text-decoration:underline;
	}
a:hover {
	color:#ffffff;
	backgroun-color:#8AC452;
	text-decoration:none;
	}
input, textarea, select, option {
	font-family:verdana;
	}